@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.signup {
  padding: 1rem;
  background-color: $columbia-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    padding: 0 5rem;
  }

  @include desktop {
    padding: 0 20rem;
  }

  &__heading {
    text-align: center;
    padding: 1rem;

    @include tablet {
      padding-bottom: 2rem;
    }
  }

}

.form {

  &__upload {
    padding: 0.5rem;
  }
}