$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* SCSS HEX */
$cool-gray: #8693abff;
$columbia-blue: #bdd4e7ff;
$raisin-black: #212227ff;
$dim-gray: #637074ff;
$powder-blue: #aab9cfff;
$stats-text: #d4e7bd;

$table-striped-bg: #e0f7fa;
$table-striped-color: #006064;
