$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* SCSS HEX */
$cool-gray: #8693abff;
$columbia-blue: #bdd4e7ff;
$raisin-black: #212227ff;
$dim-gray: #637074ff;
$powder-blue: #aab9cfff;
$stats-text: #d4e7bd;

$table-striped-bg: #e0f7fa;
$table-striped-color: #006064;

$soccer-ball-green: "/soccerball-green.png";
$soccer-ball-black: "/soccerball-black.png";
$soccer-ball-blue: "/soccerball-blue.png";
$soccer-ball-purple: "/soccerball-purple.png";
$soccer-ball-red: "/soccerball-red.png";
