@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/typography" as *;

.home {
  display: flex;
  // width: 100%;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  &__blurb-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: $columbia-blue;
    height: 100vh;

    @include tablet {
      order: -1;
    }
  }

  &__image-container {
    overflow: hidden;
    flex: 1;
  }

  &__hero-image {
    object-fit: contain;
    width: 100%;
    height: 100vh;
  }

  &__page-header {
    @include responsive_page_header;
    text-align: center;
    flex: 1;
  }

  &__subheader {
    @include responsive_subheader;
  }

  &__button {
    @include button;
  }
}
