@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
// @import "../../../node_modules/bootstrap/scss/tables";

// .table-custom {
//   // --bs-table-striped-bg: $table-striped-bg;
//   // --bs-table-striped-color: $table-striped-color;
// }

tr {
  border-style: none;
  // background-color: blue;
}

td,
th {
  vertical-align: middle;
}

.stats-heading {
  @include responsive_page_header;
  background-color: $columbia-blue;
  text-align: center;
  padding: 2rem 0;
}

.stack {
  background-color: $columbia-blue;
  display: flex;
  justify-content: space-evenly;
}
