@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.stats-heading {
  @include responsive_page_header;
  background-color: $columbia-blue;
  text-align: center;
  padding: 2rem 0;
}

.stack {
  background-color: $columbia-blue;
  display: flex;
  justify-content: space-evenly;
}

.img-thumbnail {
  height: 6.5rem;
  object-fit: contain;
  background-color: azure;
}

.badge {
  position: absolute;
  // top: 0;
  // right: 0;
  transform: "translate(50%, -50%)";
}
