@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.stats-heading {
  @include responsive_page_header;
  background-color: $columbia-blue;
  text-align: center;
  padding: 2rem 0;
}

.stack {
  background-color: $columbia-blue;
  display: flex;
  justify-content: space-evenly;
}

.img-thumbnail {
  height: 6.5rem;
  object-fit: contain;
  background-color: azure;
}

.badge {
  position: absolute;
  bottom: 6px;
  margin-left: 0.25rem;

  &:hover {
    transform: "translate(50%, -50%)";

  }

  @include tablet {
    // margin: 0;
    // position: static;
    // transform: "translate(50%, -50%)";
  }
}

.spacer {
  height: 216px;
}

.stat-column {
  position: relative;
  // margin-left: 1rem;
  // font-size: 1.5rem;
  background-color: rgba(173, 216, 230, 0.5);

  font-weight: bold;
}

.stats-container {
  padding: 1rem;
  background-color: $columbia-blue;
}

.mobile-stack {
  background-color: white;
}

.card {
  @include tablet {
    border: 0;
  }
}

.card-title {
  text-align: center;
}

.text-right {
  text-align: right;
}