@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $powder-blue;

  @include tablet {
    padding: 0 2.5rem;
  }

  &__logo {
    display: flex;
    position: relative;
    margin: 10px 0;
  }

  &__logo-image {
    width: 2rem;
    height: 2rem;
  }

  &__title {
    @include responsive_page_header;
    font-size: 1.2rem;
    color: $raisin-black;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  &__item {
    color: blue;

    &--active {
      color: red;
    }
  }

  &__menu {
    width: 1rem;
    height: 1rem;
  }
}
