@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/typography" as *;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html {
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  background-color: $columbia-blue;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
  }
}

h1 {
  font-family: "Chewy", sans-serif;
}

a {
  text-decoration: none;
  color: $raisin-black;

  :active {
    text-decoration: none;
  }
}

:root {
  width: 100%;
}
